# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/reference/configuration-reference
version: 2.1

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/guides/orchestrate/jobs-steps/#jobs-overview & https://circleci.com/docs/reference/configuration-reference/#jobs
#from https://github.com/discospiff/MyPlantDiary32/blob/master/.circleci/config.yml
  build:
    working_directory: ~/code
    docker:
      - image: circleci/android:api-24
    steps:
      - checkout
      - run:
          name: Run Unit Tests
          command: ./gradlew testDebugUnitTest
      - store_test_results:
          path: app/build/test-results
